.container{
    width:100%;
    

}

.profile-heading{
    margin:10px;
    font-size: x-large;
    font-weight: 400;
    color:rgb(248, 250, 252);
    

}
.profile-items{
    display: flex;
    flex-direction: row;
}
.bg-image{
    position: inherit;
    background-image: url("./mountain-bg.png");
    background-size: 60% 100%;
}
@media (max-width: 800px) {
    .profile-items {
      flex-direction: column;
    }
  }

