.Burger{
    width:50%;
    margin:auto;
    height:400px;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media(min-width:500px) and(min-height:400px)
{
    .Burger{
        width:450px;
        height:400px
    }
}
@media(min-width:1000px) and(min-height:700px)
{
    .Burger{
        width:500px;
        height:600px
    }
}