
.Admin-Container{
    color: #fff;
    background: url("admin-bg.jpg");
    height:600px;
    width:100%;
    border-radius: 20px;
    box-shadow: 2.5px 1px 5px 2px rgb(39, 39, 39);
}
.form-container{
    align-content: center;
    width: 600px;
    margin-left: 200px;
}
.form-group{
    align-items: center;
}
.form-control{
    background: rgb(207, 207, 204);
    width: 20rem;

}

.btn:hover{
    background: rgb(243, 94, 8);
    color: rgb(253, 253, 253);
}