

.Container{
    background: url("./1G-Computer_ScienceCsIT_Software_Engineering.png");
    height:100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    align-items: center;
    color: rgb(131, 130, 130);
    position: absolute;
    
  
}
@media screen and (max-width:500px) {
    .Content{width:400px;}
}
.heading{
    color:aliceblue;
    text-shadow: 3px 3px 2px #504e4e;
    padding: 10px;
}
.Content-body{
    margin:50px;
    float: left;
    display: flex;
}
.skills-element{

    
    font-size: x-large;
    font:bold;
    text-shadow: 3px 3px 2px #504e4e;
    color: aliceblue;
} span{
    margin:10px;
}
.skills-element span:hover{
    cursor: pointer;
    font-size: x-large;
    text-shadow: 2px 1px 1px #741d1d;
    color: rgb(255, 79, 79);
    font:bold;
}

