

.Container{
    background: url("./1G-Computer_ScienceCsIT_Software_Engineering.png");
    height:100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    align-items: center;
    color: rgb(131, 130, 130);
    position: absolute;
    
  
}
@media screen and (max-width:500px) {
    .Content{width:400px;}
}
.heading{
    margin-top: 100px;
    width: auto;
    color:rgb(235, 235, 236);
    text-shadow: 3px 3px 2px #504e4e;
    padding: auto;
}
.Content-body{
    margin:50px;
    float: left;
    display: flex;
}
.skills-element{
    margin-top: 50px;
    position: relative;
    font-size: x-large;
    font:bold;
    text-shadow: 3px 3px 2px #504e4e;
    color: rgb(255, 255, 255);
} span{
    margin:10px;
}
.skills-element span:hover{
    cursor: pointer;
    font-size: x-large;
    text-shadow: 2px 1px 1px #741d1d;
    color: rgb(255, 79, 79);
    font:bold;
}
.profile-image{
    position:relative;
    padding:100px;
    background: url("8WGn.png");
    background-size: cover;
    background-position: center;
    width:100px;
    height:100px;
  border-radius: 50%;
    text-align: end;
  object-fit: cover;
  object-position: center right;
}
.profile-image p{
    margin-left:100px;
    color: rgb(245, 240, 240);
    text-decoration: underline tomato;
    font-size: 50px;
    font-family:fantasy;
}
.profile-imgcont{
    margin-left:25%;
    width:300px;

    background-color: #504e4e 0.5;
    text-align: end;
    position:relative;
}


