.App{
    text-align: center;
    height:100%;
    margin:0px;
    background-color: rgb(59, 57, 57);
    height:100%;
}
.app-Container{
    margin-top: 50px;
}
.btn-style{
    outline:none;
    background: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 1px 3px 1px rgb(109, 108, 108);
}