.Testform{
    margin:auto;
}
.textbox{
    height:20px;
    width:200px;
    border-radius: 6px;
    margin:none;
    border:none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 2px 1px rgb(141, 141, 141);
}
.textbox:focus{
    border: none;
    outline: none;
}

.saveButton{
    margin:none;
    background: rgb(208, 208, 216);
    border: none;
    box-shadow: 3px 3px 1px rgb(159, 159, 161);
    border-radius: 8px 6px 0px;
}
.saveButton:hover{
    cursor: pointer;
    box-shadow: 3px 3px 4px rgb(152, 152, 153);
}